@page
@model SharedCents.Pages.Partners.IndexModel

@{
    ViewData["Title"] = "Partners";
}

<h1 class="mb-3">Partners</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Partner[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Partner[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Partner[0].MonthlyIncome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Partner) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthlyIncome)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PartnerId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PartnerId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PartnerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
